@charset "utf-8";
main{}
header{
    position: sticky;
    top: -25px;
    z-index: 88888;
    padding-top: 10px;
    background-color: #fff;
}
.inner{
    width: 100%;
    height: 85px;
    position: relative;
    
}
.logo_wrap{
position: absolute;
left: 100px;
bottom: 10px;

width: 200px;
height: 56px;
z-index: 50;
}
.logo_wrap>h1{
    position: absolute;
text-align: center;
line-height: 56px;
font-size: 30px;
left: 150px;
}




.menu1{
    overflow: hidden;    
    height: 100px;
    width: 788px;
    margin: 0px 0px 0px 50%;
    position: relative;
}
.menu_wrap{
    position: absolute;
    right: 150px;
    height: 100px;
    width: 580px;
    line-height: 100px;
    bottom:6px;
    z-index: 5000;

}
.menu_wrap ul{display: flex;    height: 100px;
    width: 580px;}
.menu_wrap ul li{

}
.menu_wrap ul li a{
 
    font-size: 20px;
    display: inline-block;
    z-index: 9999;
    padding: 12px 35px;
    
}
.menu_wrap ul li a:hover{
    
    font-weight: bold;
}
.menu_wrap ul:hover #spot{
    filter: invert(250%);
}
/* 메인*/

.wrap{
    position: relative;
    
    height: 900px;
}

.video_title{
position: absolute;
left: 50%;
top: 200px;
font-size: 150px;
transform: translateX(-50%);
z-index: 10;
text-shadow: 5px 8px 0px rgb(162, 155, 255);

}
.video_title::after{    
    z-index: -50;
left: 10px;

    position: absolute;

    content: "";
    width: 0px;
    bottom: -25px;
    height: 80px;
    background-color: rgba(255, 241, 38, 0.74);
transition: .3s;


}
.video_title:hover::after{
    width: 830px;transform-origin: left;
transform: scaleX(100%);
}


.circle1{
    width: 300px;
    height: 300px;
    z-index: 100;
    position: absolute;
    left: 150px;
    top: 100px;
    z-index: 100;
    border-radius: 50%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#174aff+27,dd57f3+90 */
background: #174aff; /* Old browsers */
background: -moz-linear-gradient(top,  #174aff 27%, #dd57f3 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #174aff 27%,#dd57f3 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #174aff 27%,#dd57f3 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#174aff', endColorstr='#dd57f3',GradientType=0 ); /* IE6-9 */

animation: ani1 infinite 1.5s ease-in-out;
}
@keyframes ani1 {
    0%{top: 20px;}
    50%{top: 40px;}
    100%{top: 20px;}
}
.circle2{ width: 270px;
    height: 270px;
    z-index: 100;
    position: absolute;
    left: 45%;
    /* transform: translateX(-55%); */
    
    top: 250px;
    z-index: 10;
    border-radius: 50%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3eff74+2,e4fffd+76,e4fffd+76 */
background: rgb(62,255,116); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(62,255,116) 2%, rgb(228,255,253) 76%, rgb(228,255,253) 76%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(62,255,116) 2%,rgb(228,255,253) 76%,rgb(228,255,253) 76%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(62,255,116) 2%,rgb(228,255,253) 76%,rgb(228,255,253) 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eff74', endColorstr='#e4fffd',GradientType=0 ); /* IE6-9 */

animation: ani2 infinite 2.5s ease-in-out;
}
@keyframes ani2 {
    0%{top: 300px;}
    50%{top: 330px;}
    100%{top: 300px;}
}
.circle3{ width: 320px;
    height: 320px;
    z-index: 100;
    position: absolute;
    right: 150px;
    top: 100px;
    z-index: 50;
    border-radius: 50%;
background: rgb(161,146,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(161,146,255) 31%, rgb(5,0,235) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(161,146,255) 31%,rgb(5,0,235) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(161,146,255) 31%,#0500eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a192ff', endColorstr='#0500eb',GradientType=0 ); /* IE6-9 */

animation: ani3 infinite 3s ease-in-out;
}
@keyframes ani3{
    0%{top: 250px; }
    50%{top: 290px; }
    100%{top: 250px; }
  
   
}
#video{
position: absolute;
pointer-events: none; 
width: 100%;
z-index: -50px;    
}
#video2{
    width: 100%;
    position: absolute;
    pointer-events: none; 
top: 150px;
    z-index:20;
}


/* 소개about */
.about{
    
    width: 100%;height: 900px;



}
.about .inner{
margin: 0px auto;
width: 1657px;
position: relative;
z-index: 250;
}
.about .inner h2{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
text-align: center;
font-size: 30px;

}

.about .inner h2::after{    
    z-index: -50;
 left: 16;
 right: 0;
    position: absolute;

    content: "";
    width: 0px;
    bottom: -5px;
    height: 20px;
    background-color: #ffee51;transform-origin: left;
transition: .3s;

}
.about .inner h2:hover::after{
    width: 100px;
transform: scaleX(100%);transform-origin: left;
}


.triangle{
    z-index: 10;
    position: absolute;
    left:90px;
    top: 15px;
    transform-style: preserve-3d;
    transform: rotate(70deg) ;
  
}
.triangle img{
  z-index: 10;

  }
  .triangle .circle_inner{
    top: 260px;
    right: 27px;
    z-index: 5000;
  }
  .triangle .circle_inner h3{
    color: #ff7e14;
    text-shadow: 2px 1px 0px rgb(255, 246, 230);
    font-size: 28px;
  
  }
  .triangle .circle_inner p{
    color: #63481e;
    font-size: 17px;
  }
.square{
    width: 237px;
    height: 237px;
    position: absolute;
    right: 0px ;
    bottom: 0px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#184bff+0,7018ff+88 */
background: #184bff; /* Old browsers */
background: -moz-linear-gradient(top,  rgb(24,75,255) 0%, #7018ff 88%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(24,75,255) 0%,rgb(112,24,255) 88%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(24,75,255) 0%,rgb(112,24,255) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184bff', endColorstr='#7018ff',GradientType=0 ); /* IE6-9 */
box-shadow: 5px 15px 20px rgba(0, 0, 0, .8);
z-index: 15;
transform-style: preserve-3d
}
.square .circle_inner h3{

    color: #6639e0;
    font-size: 27px;
    text-shadow: 2px 1px 0px rgb(235, 230, 255);
}
.square .circle_inner p{
    color: rgb(204, 185, 255);
    font-size: 18px;
}
.sh_circle{
    width: 369px;
    height: 369px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff89d0+0,ff3838+95 */
background: #ff89d0; /* Old browsers */
background: -moz-linear-gradient(top,  rgb(255,137,208) 0%, #ff3838 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(255,137,208) 0%,rgb(255,56,56) 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(255,137,208) 0%,rgb(255,56,56) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff89d0', endColorstr='#ff3838',GradientType=0 ); /* IE6-9 */

box-shadow: 10px 18px 20px rgba(0, 0, 0, .8);
z-index: 21;
transform-style: preserve-3d
}
.circle_inner{
    transform: translateZ(40px);

    position: relative;
top: 30%;

}
.shape_wrap{
    position: relative;
    width: 40%;
    height: 550px;
    top: 250px;
text-align: center;
float: left;
    
  }

  .sh_circle h3{
    font-size: 35px;
color: rgb(233, 34, 93);
z-index: 500;
padding-bottom: 8px;
text-shadow: 4px 3px 0px rgb(255, 230, 238);
  }
.sh_circle p{
    font-size: 20px;
    color:  rgb(255, 255, 255); z-index: 500;
    text-shadow: 1px 1px 0px rgb(255, 0, 81);
}



.profile_wrap{
    width: 60%;
    height: 500px;
    float: right;
    position: relative;
    top: 300px;

}
.profile{
position: absolute;
left: 155px;

}
.profile_title{
font-size: 22px;
padding-bottom: 20px;

}

.profile_txt{
    margin:8px 0px;
    font-size: 17px;
    line-height: 28px;
}
.LICENSE{
    position: absolute;
   right: 150px;
}
.skill{
    position: absolute;
    top: 300px;
    right: 137px;
    width: 708px;
    height: 257px;
    box-shadow: 5px 3px 10px rgb(129, 129, 129);
    border-radius: 20px;border: 1px solid #333;
    
}
.skill .profile_title{
    position: relative;
    width: 150px;
    bottom: 26px;

    left: 40%;
    background-color: #fff;
border: 2px solid #333;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    box-shadow: 4px 3px 5px rgb(136, 136, 136);
    padding-bottom: 0px;
    border-radius: 30px;

}
.chart{
width: 700px;
height: 300px;
position: relative;
top: -24px;
right: -49px;

}
.chart_skill{
position: relative;

margin: 18px 0px;
}
.skill_title{
    width: 125px;
    text-align: right;
    position: absolute;
 bottom: -5px;
 left: -25px;
 font-weight: bold;
}
.percent{
    position: absolute;
    right: 90px;
 bottom: -10px;
 align-items: center;

}
.chart_wrap{    
    position: relative;left:110px;bottom: 0px;
width: 450px;
height: 7px;
background-color: rgb(209, 209, 209);
box-shadow: 4px 3px 4px rgb(136, 136, 136);
}
.chart_inner{
position: absolute;
transform: scaleX(0%);
height: 7px;
transform-origin: left;
}
.chart_skill:first-child .chart_inner{
/* background-color: #3737F5; */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#184bff+3,965eff+99 */
background: rgb(24,75,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(24,75,255) 3%, #965eff 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184bff', endColorstr='#965eff',GradientType=1 ); /* IE6-9 */

width: 85%;
}

.chart_skill:nth-child(2) .chart_inner{
    /* background-color: #6D1AFF; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#184bff+3,965eff+99 */
background: rgb(24,75,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(24,75,255) 3%, rgb(150,94,255) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184bff', endColorstr='#965eff',GradientType=1 ); /* IE6-9 */

    width: 85%;
}
.chart_skill:nth-child(3) .chart_inner{
    /* background-color: #FBF200; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#184bff+3,965eff+99 */
background: rgb(24,75,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(24,75,255) 3%, rgb(150,94,255) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184bff', endColorstr='#965eff',GradientType=1 ); /* IE6-9 */

    width: 65%;
}
.chart_skill:nth-child(4) .chart_inner{
    /* background-color:#FC9C00 ; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#184bff+3,965eff+99 */
background: rgb(24,75,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(24,75,255) 3%, rgb(150,94,255) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184bff', endColorstr='#965eff',GradientType=1 ); /* IE6-9 */

    width: 75%;
}
.chart_skill:nth-child(5) .chart_inner{
    /* background-color: #FF4E60; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#184bff+3,965eff+99 */
background: rgb(24,75,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(24,75,255) 3%, rgb(150,94,255) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184bff', endColorstr='#965eff',GradientType=1 ); /* IE6-9 */

    width: 97%;
}
.chart_skill:nth-child(6) .chart_inner{
    /* background-color: #FF4E60; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#184bff+3,965eff+99 */
background: rgb(24,75,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(24,75,255) 3%, rgb(150,94,255) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgb(24,75,255) 3%,rgb(150,94,255) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184bff', endColorstr='#965eff',GradientType=1 ); /* IE6-9 */

    width: 95%;
}
.chart_skill:nth-child(7) .chart_inner{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3838+0,ff89d0+100 */
background: #ff3838; /* Old browsers */
background: -moz-linear-gradient(top,  #ff3838 0%, #ff89d0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ff3838 0%,#ff89d0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ff3838 0%,#ff89d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3838', endColorstr='#ff89d0',GradientType=0 ); /* IE6-9 */

    width: 92%;
}

.chart_skill:last-child .chart_inner{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3838+0,ff89d0+100 */
background: #ff3838; /* Old browsers */
background: -moz-linear-gradient(top,  #ff3838 0%, #ff89d0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ff3838 0%,#ff89d0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ff3838 0%,#ff89d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3838', endColorstr='#ff89d0',GradientType=0 ); /* IE6-9 */


width: 90%;
}




/* 포트폴리오 */
.portfolio{

}
.portfolio .inner{
    width: 100%;
    height: 1200px;
position: relative;
}
.portfolio .inner h2{
    position: absolute;
    top: 205px;
    left: 50%;
    transform: translateX(-50%);
text-align: center;
font-size: 30px;transform-origin: left;
}


.portfolio .inner h2::after{    
    z-index: -50;
 left: 2;
 right: 0;
    position: absolute;

    content: "";
    width: 0px;
    bottom: -5px;
    height: 17px;
    background-color: #ffee51;
transition: .3s;
transform-origin: left;

}
.portfolio .inner h2:hover::after{
    width: 167px;
transform: scaleX(100%);transform-origin: left;
}

#video3{
    width: 100%;
    position: absolute;
    top: 300px;
    transform: rotateY(180deg);
}

.port_list{
width: 100%;

position: relative;
top: 350px;
}
.port_list ul{

width: 1250px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;

}
.port_list ul li{
    background-color: #fff;
    border:1px solid #8f8f8f;
    width: 365px;
    height: 240px;
    position: relative;
    margin: 10px 20px;
    box-shadow: 1px 3px 6px #c7c7c7;

}
.img_wrapper{
border-bottom: 1px solid #8f8f8f;
 position: absolute;
 width: 365px;
 height: 195px;
overflow: hidden    ;

left: 0px;
background-size: 380px !important;
background-repeat: no-repeat;
background-position: center;
}

    

.port_list li:first-child .img_wrapper{
    background-image: url(../img/cgv.jpg);
    background-size: contain;
}
.port_list li:nth-child(2) .img_wrapper{
    background-image: url(../img/metaverse.png);
    background-size: contain;
}
.port_list li:nth-child(3) .img_wrapper{
    background-image: url(../img/3Dmodel.png);
    background-size: contain;
}
.port_list li:nth-child(4) .img_wrapper{
    background-image: url(../img/culture.png);

    background-size: cover;
}
.port_list li:nth-child(5) .img_wrapper{
    background-image: url(../img/ssuni.jpg);

    background-size: cover;
}
.port_list li:last-child .img_wrapper{
    background-image: url(../img/panel.jpg);

    background-size: cover;
}
.img_wrapper:hover .shadow{
opacity: 1;
}

.shadow{
    opacity: 0;
    width: 365px;
    height: 195px;
    transition: .5s ease-out;
    background-color: rgba(0, 0, 0, .6);

z-index: 50;
}
input[type=button].shadow_btn{
    font-size: 16px;
    width: 110px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin: 0px auto;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);

    }
    input[type=button].shadow_btn:hover{
        background-color: #fff;
        color: #333;
        border: #fff;
    }
/* .shadow p{
    position: absolute;
    bottom: 15px ;
    left: 18px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
} */
.txt_wrapper{width: 360px;
    position: absolute;
    bottom: 13px;
}
.txt_wrapper:hover{
    text-decoration: underline;

}
.txt_wrapper i{

    padding: 0px 8px 0px 11px;
}
.txt_wrapper i.far{
    color: #272ad1;
}
.txt_wrapper i.fas{
    color: #ff3838;
}
.txt_wrapper span{
    position: absolute;
    right: 5px;
    color:#5673db;
    font-weight: bold;
}



/* 푸터 */
footer{

}

footer .inner{
    width: 100%;  

    height: 880px;
position: relative;
overflow: hidden;
}
.address{
    top: 200px;
    position: absolute;
    margin: 0px auto;
    width: 100%;
text-align: center;
}
.address h2{
    position: relative;
    color: #333;
    font-size: 30px;   
margin: 50px 0px;
display: inline-block;transform-origin: left;

}

.address h2::after{    
    z-index: -50;
 left: 0;
 right: 0;
    position: absolute;

    content: "";
    width: 0px;
    bottom: -5px;transform-origin: left;
    height: 17px;
    background-color: #ffee51;
transition: .3s;

}
.address h2:hover::after{
    width: 137px;transform-origin: left;
transform: scaleX(100%);
}
.address p{color: #333;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
} 
.address i{
    margin: 20px 0px 0px 0px;
    font-size: 40px;
}
#warning{
font-size: 12px;
margin-top: 60px;
line-height: 15px;
}
.f_circle1{
    width: 1006px;
    height: 1006px;

    border-radius: 50%;
    position: absolute;
    bottom: -650px;
    right: -700px;


    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a192ff+0,0500eb+67 */
background: rgb(161,146,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(161,146,255,1) 0%, rgba(5,0,235,1) 67%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(161,146,255,1) 0%,rgba(5,0,235,1) 67%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(161,146,255,1) 0%,rgba(5,0,235,1) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a192ff', endColorstr='#0500eb',GradientType=0 ); /* IE6-9 */

}
.f_circle2{
    width: 1159px;
    height: 1159px;
    border-radius: 50%;
    position: absolute;
    right: -100px;
    bottom: -1050px;


    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff89d0+0,ff3838+87,ff3838+87 */
background: rgb(255,137,208); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,137,208,1) 0%, rgba(255,56,56,1) 87%, rgba(255,56,56,1) 87%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,137,208,1) 0%,rgba(255,56,56,1) 87%,rgba(255,56,56,1) 87%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,137,208,1) 0%,rgba(255,56,56,1) 87%,rgba(255,56,56,1) 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff89d0', endColorstr='#ff3838',GradientType=0 ); /* IE6-9 */

}
.f_circle3{
    width: 1056px;
    height: 1056px;
    border-radius: 50%;
   
    position: absolute;
    left: -680px;
    bottom: -600px;

   
background: rgb(62,255,116); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(62,255,116,1) 0%, rgba(228,255,253,1) 73%, rgba(228,255,253,1) 73%, rgba(228,255,253,1) 83%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(62,255,116,1) 0%,rgba(228,255,253,1) 73%,rgba(228,255,253,1) 73%,rgba(228,255,253,1) 83%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(62,255,116,1) 0%,rgba(228,255,253,1) 73%,rgba(228,255,253,1) 73%,rgba(228,255,253,1) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eff74', endColorstr='#e4fffd',GradientType=0 ); /* IE6-9 */

}











#pointer{


     width: 50px;
    height: 50px;
    border-radius: 50%;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    position: fixed;
    cursor: not-allowed;
      pointer-events: none;
    transform: translate(-50%, -50%);


    border: 3px dashed #333;
/* border: 6px double #333;



    border:3px solid transparent;
    background-color: #174aff;
  
    background-image:linear-gradient(transparent,#fff,transparent),linear-gradient(40deg, #e1d1ff 0%, #0004fd 100%);
  z-index: 2;
    background-size: 500% 500%;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: gradient infinite 3s;
     */
  }
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  #dot{
      position:fixed;
      cursor: not-allowed;
      pointer-events: none;
      width: 10px;
      height: 10px;
      background-color: #333;
      border-radius: 5px;
      z-index: 5058555555;
  }
  
  #spot{
  
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background-color: #0500eb;
      transition-duration: 380ms;
   position: fixed;
      cursor: not-allowed;
        pointer-events: none;
  transform: translate(-50%, -50%);
      z-index: -500;
      display: none;
  
  }
  
  
  /* smooth content */
  /* #smooth-wrapper{
      overflow: visible;
      width: 100%;
      height: 100vh;
  } */
  
  /* 모달창 */

  .background{

position: fixed;
top: 0; overflow-y: auto;
left: 0;
background-color: rgba(0, 0, 0, .8);
width: 100%;
height: 100%;
z-index: 99999;
  }

  .modal_title{
    margin-top: 100px;
    border-bottom: 1px solid #333;
  }
  .modal_title h2{
    text-indent: 20px;
    font-size: 25px;
    padding: 10px 0px 0px 0px;
    font-weight: 600;
  }
  .modal_title p{
    text-indent: 20px;
    font-size: 13px;

    padding: 10px 0px 15px 0px;
  }
  .modal{
z-index: 100000;
    margin: 0px auto 80px auto;
background-color: #fff;
width: 65%;


  }
  .modal img{
    display: block;
width: 95%;
margin-right: auto;
margin-left: auto;



}
.modal a{
    display: inline-block;
    height: 20px;
    margin:0px 0px 20px 45px;
    width: 300px;
    font-size: 17px;
    
    padding: 8px;
    color: #0500eb;
    border: 2px solid #0500eb;
    border-radius: 5px;
    text-align: center;

}
.modal a:hover{
    background-color: #615fe9;
    color: #fff;
    font-weight: 500; border: 2px solid #615fe9;
}
.modal i{
    padding-right: 5px;
}
.modal video{
    display: block;
   margin-left: auto;
   margin-right: auto;
    width: 90%;
    padding: 50px;
}

/* 스크롤 매직 */


/* scrollmagic 화면스크롤 동작시 움직이는 서식 show */
.back-to-position{
    opacity:0;
    transition-duration: 1s;
  
  }
  .back-to-position.to-left{
    transform: translateX(150px);
  }
  .back-to-position.to-right{
    transform:translateX(-150px)
  }
  .back-to-position.to-botttom{
    transform:translateY(50px)
  }
  .show .back-to-position{
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
  }
  .show .back-to-position.delay-1{transition-delay: .2s;}
  .show .back-to-position.delay-2{transition-delay: .4s;}
  .show .back-to-position.delay-3{transition-delay: .6s;}
  .show .back-to-position.delay-4{transition-delay: .8s;}
.show .back-to-position.delay-5{transition-delay: 1s;}
.show .back-to-position.delay-6{transition-delay: 1.2s;}